.fifth_section {
  & .leftSide {
    padding: 100px 100px 100px 150px;
    text-align: left;

    & .Dishtitle {
      font-size: 58px;
      font-family: $Primary_font;
      font-weight: 800;
    }

    & .dishDesc {
      font-size: 29px;
      font-family: $Primary_font;
      font-weight: 400;
    }

    & button {
      width: 40%;
      color: $LightFont;
      background-color: $DarkFont;
      padding: 20px;
      border-radius: 30px;
      font-weight: 700;
      letter-spacing: 6px;
      font-family: $Primary_font;
      font-size: 22px;
      line-height: 21px;
      text-transform: uppercase;
    }
  }

  & .rightSide {
    text-align: center;

    & img {
      height: 600px;
      width: 600px;
    }
  }
}

@media (max-width: 1399.98px) {
}

@media (max-width: 1199.98px) {
  .fifth_section {
    & .leftSide {
      padding: 0px 0px 0px 25px !important;

      & .Dishtitle {
        font-size: 48px;
        font-family: $Primary_font;
        font-weight: 800;
      }

      & .dishDesc {
        font-size: 25px;
        text-align: justify;
      }

      & button {
        width: 45%;
        font-size: 20px;
      }
    }

    & .rightSide {
      text-align: center;

      & img {
        height: 400px;
        width: 400px;
      }
    }
  }
}

@media (max-width: 991.98px) {
  .fifth_section {
    & .leftSide {
      width: 50%;
      padding: 0px 0px 0px 25px !important;

      & .Dishtitle {
        font-size: 28px;
        font-family: $Primary_font;
        font-weight: 800;
      }

      & .dishDesc {
        font-size: 20px;
        text-align: justify;
      }

      & button {
        width: 40%;
        font-size: 16px;
        padding: 10px;
      }
    }

    & .rightSide {
      text-align: center;

      & img {
        height: 300px;
        width: 300px;
      }
    }
  }
}

@media (max-width: 767.98px) {
  .fifth_section {
    display: flex;
    & .leftSide {
      order: 2;
      width: 100%;
      margin-top: 30px !important;
      text-align: left;
      padding: 50px !important;
      & .Dishtitle {
        font-family: $Primary_font;
        width: 100%;
        font-weight: 800;
      }

      & .dishDesc {
        font-size: 18px;
        text-align: justify;
        width: 90%;
      }

      & button {
        width: 40%;
        font-size: 16px;
        padding: 14px;
      }
    }

    & .rightSide {
      order: 1;
      & img {
        height: 300px;
        width: 300px;
      }
    }
  }
}

@media (max-width: 576px) {
  .fifth_section {
    & .leftSide {
      & .Dishtitle {
        font-size: 28px;
      }

      & .dishDesc {
        font-size: 18px;
        text-align: justify;
        width: 90%;
      }

      & button {
        width: 40%;
        font-size: 12px;
        padding: 8px;
      }
    }

    & .rightSide {
      order: 1;
      & img {
        height: 300px;
        width: 300px;
      }
    }
  }
}

@media (max-width: 375px) {
  .fifth_section {
    & .leftSide {
      & .Dishtitle {
        font-size: 18px;
      }

      & .dishDesc {
        font-size: 14px;
      }

      & button {
        width: 60%;
      }
    }

    & .rightSide {
      order: 1;
      & img {
        height: 200px;
        width: 200px;
      }
    }
  }
}
