.fourth_section {
  margin-top: 30px;
  padding: 50px;

  & .leftSide {
    text-align: center;

    & img {
      height: 600px;
      width: 600px;
      text-align: right;
    }
  }

  & .rightSide {
    text-align: left;
    padding: 25px;

    & .Dishtitle {
      font-family: $Primary_font;
      font-size: 58px;
      font-weight: 800;
    }

    & .dishDesc {
      font-size: 29px;
      font-weight: 400;
      font-family: $Primary_font;
    }

    & button {
      width: 35%;
      color: $LightFont;
      background-color: $DarkFont;
      padding: 20px;
      border-radius: 30px;
      font-weight: 700;
      letter-spacing: 6px;
      font-family: $Primary_font;
      font-size: 22px;
      line-height: 21px;
      text-transform: uppercase;
    }
  }
}

@media (max-width: 1399.98px) {
}

@media (max-width: 1199.98px) {
  .fourth_section {
    & .leftSide {
      & img {
        height: 500px;
        width: 500px;
      }
    }

    & .rightSide {
      text-align: left;
      padding: 25px;

      & .Dishtitle {
        font-size: 48px;
      }

      & .dishDesc {
        font-size: 25px;
        text-align: justify;
      }

      & button {
        width: 50%;
      }
    }
  }
}

@media (max-width: 991.98px) {
  .fourth_section {
    & .leftSide {
      & img {
        height: 350px !important;
        width: 350px !important;
      }
    }

    & .rightSide {
      text-align: left;
      padding: 25px;

      & .Dishtitle {
        font-size: 32px !important;
      }

      & .dishDesc {
        font-size: 18px !important;
        text-align: justify;
      }

      & button {
        padding: 12px;
        font-size: 16px;
      }
    }
  }
}

@media (max-width: 767.98px) {
  .fourth_section {
    & .rightSide {
      text-align: left;
      padding: 25px;

      & .Dishtitle {
        font-size: 32px !important;
      }

      & .dishDesc {
        font-size: 18px;
        text-align: justify;
      }

      & button {
        padding: 10px;
        font-size: 16px;
        width: 40% !important;
      }
    }
  }
}

@media (max-width: 576px) {
  .fourth_section {
    & .rightSide {
      & button {
        padding: 4px !important;
        font-size: 12px !important;
      }
    }
  }
}

@media (max-width: 375px) {
  .fourth_section {
    & .leftSide {
      & img {
        height: 250px !important;
        width: 250px !important;
      }
    }
    & .rightSide {
      & .Dishtitle {
        font-size: 18px !important;
      }

      & .dishDesc {
        font-size: 14px !important;
        text-align: justify;
      }

      & button {
        padding: 10px;
        font-size: 16px;
        width: 70% !important;
      }
    }
  }
}
