.Header_Section {
  background: url(../Assets/Images/Div1/Header_Back.jpg) no-repeat scroll 0 0 /
    cover;
  height: 900px;

  & button {
    color: $LightFont !important;
  }

  & a {
    margin-right: 50px !important;
    color: $LightFont !important;
    text-transform: uppercase;
    font-family: $Primary_font;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 5px;
  }

  & .search {
    margin: 0 auto;
    text-align: center;

    & .input-field {
      border-radius: 30px;
      position: relative;
      width: 185px;
    }
    & .search input {
      text-indent: 30px;
    }
    & i {
      position: absolute;
      top: 20px;
      right: 40px;
    }
  }

  & .Header_Section_main {
    margin-top: 50px;

    & .left_item {
      margin: 40px 100px 0px 100px;

      & .italianTitle {
        font-family: $Stylish_font;
        font-size: 82px;
        color: $LightFont;
        padding-top: 30px;
        padding-left: 70px;
      }

      & .italianName {
        margin-top: 50px;
        font-family: $Primary_font;
        font-size: 18px;
        color: $LightFont;
        letter-spacing: 5px;
        font-weight: 700;
        font-style: italic;
      }

      & .Read_button {
        margin-top: 25px;
        background-color: $Button_Back;
        color: $Button_Front !important;
        padding: 5px;
        border-radius: 20px;
        font-weight: 800;
        font-family: $Primary_font;
        font-size: 16px;
        width: 30%;
      }

      & .desc_para {
        margin-top: 50px;
        font-size: 18px;
        letter-spacing: 1px;
        font-weight: 400px;
        font-style: italic;
        font-family: $Primary_font;
        color: $LightFont;
      }
    }

    & .right_item {
      position: absolute;
      right: 0;
    }
  }
}

@media (max-width: 1399.98px) {
}

@media (max-width: 1199.98px) {
  .Header_Section {
    height: 800px;

    & a {
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 5px;
    }

    & .searchbar {
      border-radius: 30px;
      width: 155px;
    }
    & .Header_Section_main {
      & .left_item {
        margin: 40px 50px 0px 50px;
        & p {
          & img {
            height: 80px;
            width: 80px;
          }
        }
        & .italianTitle {
          margin-left: -20px;
          font-size: 50px !important;
        }
        & .italianName {
          font-size: 14px;
        }

        & .Read_button {
          font-size: 14px;
          width: 30%;
        }
        & .desc_para {
          font-size: 12px;
          text-align: justify;
          margin-bottom: 50px;
        }
      }

      & .right_item {
        position: absolute;
        width: 60%;
        top: 180px;
        left: 430px;
        & img {
          height: 750px;
        }
      }
    }
  }
}

@media (max-width: 991.98px) {
  .Header_Section {
    height: 900px;

    & button {
      color: $LightFont !important;
    }

    & a {
      margin-right: 50px !important;
      color: $LightFont !important;
      text-transform: uppercase;
      font-family: $Primary_font;
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 5px;
    }
    & .search {
      margin: 0 0;
      text-align: left;

      & .input-field {
        border-radius: 30px;
        position: relative;
        width: 185px;
      }
      & .search input {
        text-indent: 30px;
      }
      & i {
        position: absolute;
        top: 218px;
        left: 160px;
      }
    }
    & .Header_Section_main {
      position: relative;
      & .left_item {
        width: 90%;

        & p {
          & img {
            height: 80px;
            width: 80px;
          }
        }

        & .italianTitle {
          font-size: 25px;
        }
        & .italianName {
          font-size: 14px;
        }

        & .Read_button {
          font-size: 14px;
          width: 40%;
        }
        & .desc_para {
          font-size: 12px;
          text-align: justify;
          width: 60%;
          margin-bottom: 50px;
        }
      }

      & .right_item {
        position: absolute;
        width: 80%;
        top: 100px;
        left: 550px;
        overflow: hidden;
        & img {
          width: 50%;
          height: 30%;
        }
      }
    }
  }
}
@media (max-width: 767.98px) {
  .Header_Section {
    height: 900px;

    & button {
      color: $LightFont !important;
    }

    & a {
      margin-right: 50px !important;
      color: $LightFont !important;
      text-transform: uppercase;
      font-family: $Primary_font;
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 5px;
    }
    & .search {
      margin: 0 0;
      text-align: left;

      & .input-field {
        border-radius: 30px;
        position: relative;
        width: 185px;
      }
      & .search input {
        text-indent: 30px;
      }
      & i {
        position: absolute;
        top: 218px;
        left: 160px;
      }
    }
    & .Header_Section_main {
      position: relative;
      & .left_item {
        width: 90%;

        & p {
          & img {
            height: 80px;
            width: 80px;
          }
        }

        & .italianTitle {
          font-size: 25px;
        }
        & .italianName {
          font-size: 14px;
        }

        & .Read_button {
          font-size: 14px;
          width: 20%;
        }
        & .desc_para {
          font-size: 12px;
          text-align: justify;
          width: 60%;
          margin-bottom: 50px;
        }
      }

      & .right_item {
        position: absolute;
        width: 80%;
        top: 100px;
        left: 450px;

        & img {
          width: 50%;
          height: 30%;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .Header_Section {
    height: 900px;

    & button {
      color: $LightFont !important;
    }

    & a {
      margin-right: 50px !important;
      color: $LightFont !important;
      text-transform: uppercase;
      font-family: $Primary_font;
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 5px;
    }

    & .search {
      margin: 0 0;
      text-align: left;

      & .input-field {
        border-radius: 30px;
        position: relative;
        width: 185px;
      }
      & .search input {
        text-indent: 30px;
      }
      & i {
        position: absolute;
        top: 218px;
        left: 160px;
      }
    }
    & .Header_Section_main {
      position: static;

      & .left_item {
        margin-left: 20px;
        width: 90%;
        margin-top: 0px;
        & p {
          & img {
            height: 50px;
            width: 50px;
          }
        }

        & .italianTitle {
          font-size: 25px !important;
        }
        & .italianName {
          font-size: 14px !important;
        }

        & .Read_button {
          font-size: 12px;
          width: 20%;
        }
        & .desc_para {
          font-size: 10px;
          text-align: justify;
          width: 90%;
        }
      }

      & .right_item {
        position: absolute;
        width: 80%;
        top: 650px;
        left: 150px;

        & img {
          width: 70%;
          height: 70%;
        }
      }
    }
  }
}

@media (max-width: 375px) {
  .Header_Section {
    height: 800px;

    & .search {
      & .input-field {
        border-radius: 30px;
        position: relative;
        width: 185px;
      }
      & .search input {
        text-indent: 30px;
      }
      & i {
        position: absolute;
        top: 218px;
        left: 160px;
      }
    }
    & .Header_Section_main {
      position: static;

      & .left_item {
        margin-left: 20px;
        width: 90%;
        margin-top: 0px;
        & p {
          & img {
            height: 50px;
            width: 50px;
          }
        }

        & .italianTitle {
          font-size: 25px !important;
        }
        & .italianName {
          font-size: 14px !important;
        }

        & .Read_button {
          font-size: 12px;
          width: 40%;
        }
        & .desc_para {
          font-size: 10px;
          text-align: justify;
          width: 90%;
        }
      }

      & .right_item {
        position: absolute;
        width: 80%;
        top: 650px;
        left: 100px;

        & img {
          width: 70%;
          height: 70%;
        }
      }
    }
  }
}
