.section_six {
  margin-top: 40px;
  height: 1080px;
  background: url(/Assets/Images/Div1/Header_Back.jpg) no-repeat scroll 0 0 /
    cover;

  & .title {
    padding-top: 100px;
    font-family: $Stylish_font;
    font-size: 58px;
    color: $LightFont;
    text-align: center;
  }

  & .description {
    margin-top: 50px;
    color: $LightFont;
    font-family: $MontserratFont;
    font-size: 25px;
    line-height: 33px;
    text-align: center;
    font-weight: 400;
  }

  & .myHr {
    height: 20px;
    width: 10%;
    margin: 0 auto;
    color: $LightFont;
  }

  & .rightImage {
    position: absolute;
    top: 3500px;
    right: 0px;
  }

  & .leftImage {
    position: absolute;
    top: 3800px;
    left: 300px;
  }

  & .pizzaImage {
    position: absolute;
    top: 4050px;
    left: 500px;
  }
}

@media (max-width: 1399.98px) {
}
@media (max-width: 1199.98px) {
  .section_six {
    height: 980px;
    & .title {
      font-size: 48px;
    }
    & .description {
      font-size: 21px;
    }
    & .rightImage {
      position: absolute;
      top: 2980px;
      right: -40px;
      & img {
        height: 450px;
      }
    }

    & .leftImage {
      position: absolute;
      top: 3300px;
      left: 30px;
      & img {
        height: 290px;
      }
    }

    & .pizzaImage {
      position: absolute;
      top: 3450px;
      left: 100px;
      & img {
        height: 750px;
      }
    }
  }
}

@media (max-width: 991.98px) {
  .section_six {
    height: 980px;
    & .title {
      font-size: 48px;
    }

    & .description {
      font-size: 21px;
    }

    & .rightImage {
      position: absolute;
      top: 2800px;
      & img {
        height: 400px;
        width: auto;
      }
    }

    & .leftImage {
      position: absolute;
      top: 3100px;
      left: 30px;
      & img {
        height: 250px;
        width: auto;
      }
    }

    & .pizzaImage {
      position: absolute;
      top: 3380px;
      left: 90px;
      & img {
        height: 650px;
        width: auto;
      }
    }
  }
}
@media (max-width: 767.98px) {
  .section_six {
    height: 650px;
    & .title {
      font-size: 32px;
    }

    & .description {
      font-size: 16px;
    }

    & .rightImage {
      position: absolute;
      top: 3800px;
      right: -20px;
      & img {
        height: 300px;
        width: auto;
      }
    }

    & .leftImage {
      position: absolute;
      top: 4000px;
      left: 30px;
      & img {
        height: 200px;
        width: auto;
      }
    }

    & .pizzaImage {
      position: absolute;
      top: 4230px;
      left: 100px;
      & img {
        height: 400px;
        width: auto;
      }
    }
  }
}

@media (max-width: 576px) {
  .section_six {
    height: 650px;
    & .title {
      font-size: 28px;
    }

    & .description {
      font-size: 14px;
    }

    & .rightImage {
      position: absolute;
      top: 3920px;
      right: -20px;
      & img {
        height: 300px;
        width: auto;
      }
    }

    & .leftImage {
      position: absolute;
      top: 4200px;
      left: 0px;
      & img {
        height: 200px;
        width: auto;
      }
    }

    & .pizzaImage {
      position: absolute;
      top: 4350px;
      left: 50px;
      & img {
        height: 400px;
        width: auto;
      }
    }
  }
}

@media (max-width: 375px) {
  .section_six {
    height: 560px;
    & .title {
      font-size: 20px;
    }

    & .description {
      font-size: 12px;
    }

    & .rightImage {
      & img {
        display: none;
      }
    }

    & .leftImage {
      & img {
        display: none;
      }
    }

    & .pizzaImage {
      position: absolute;
      top: 4050px;
      left: 0px;
      & img {
        height: 300px;
        width: auto;
      }
    }
  }
}
