.section_nine {
  margin-top: 50px;
  padding: 100px;

  & .title {
    font-family: $MontserratFont;
    font-size: 32px;
    font-weight: normal;
  }

  & .desc {
    font-family: $MontserratFont;
    font-size: 16px;
    width: 50%;
    font-weight: 400;
  }

  & .imgDiv {
    margin-left: -30px;
    & ul {
      & li {
        display: inline-block;
        color: $DarkFont;
        border-radius: 50%;

        & a {
          display: inline-block;
          padding: 8px 0 0 11px;
          font-size: 20px;
          line-height: 30px;
          width: 40px;
          height: 40px;
          border-radius: 36px;
          background-color: $DarkFont;
          color: $LightFont;
          margin: 0 3px 3px 0;
        }
      }
    }
  }

  & .column1 {
    & h4 {
      font-family: $MontserratFont !important;
      font-size: 32px;
      font-weight: 400;
    }

    & ul {
      list-style: none;

      & li {
        margin-left: -30px;
        font-family: $MontserratFont;
        font-size: 16px;
        font-weight: 400;
      }
    }
  }
}

@media (max-width: 375px) {
  .section_nine {
    padding: 50px;

    & .title {
      font-size: 28px;
    }

    & .desc {
      font-size: 12px;
      width: 60%;
    }
  }
}

@media (max-width: 576px) {
  .section_nine {
    & .column1 {
      & h4 {
        font-weight: 800 !important;
      }
    }
  }
}

@media (max-width: 767.98px) {
  .section_nine {
    & .desc {
      width: 80%;
    }

    & .column1 {
      & h4 {
        font-size: 12px !important;
        font-weight: 400;
      }

      & ul {
        & li {
          margin-left: -30px;
          font-family: $MontserratFont;
          font-size: 10px !important;
          font-weight: 400;
        }
      }
    }
  }
}

@media (max-width: 991.98px) {
  .section_nine {
    & .desc {
      font-size: 14px;
    }
    & .column1 {
      & ul {
        & li {
          font-size: 14px;
          font-weight: 400;
        }
      }
    }
  }
}

@media (max-width: 1199.98px) {
  .section_nine {
    & .desc {
      text-align: justify;
    }

    & .column1 {
      & h4 {
        font-size: 22px;
      }
    }
  }
}

@media (max-width: 1399.98px) {
}
