.section_eight {
  background-color: $BackGroundSection;
  height: 700px;
  color: $LightFont;

  & .main {
    padding-top: 200px;
    text-align: center;

    & .title {
      font-family: $Primary_font;
      font-size: 75px;
      font-weight: 800;
    }

    & .para {
      font-family: $Primary_font;
      font-size: 20px;
      font-weight: 400px;
    }

    & .textbox {
      margin-top: 30px;
      border-radius: 20px;
      padding: 10px;
      width: 30%;
      font-family: $Primary_font;
      font-weight: 400;
      color: #54524f;
      font-size: 16px;
    }

    & button {
      background-color: #54524f;
      padding: 8px;
      border-radius: 20px;
      position: absolute;
      color: $LightFont;
      width: 10%;
      font-size: 20px;
      font-weight: 400;
      font-family: $Primary_font;
      top: 5977px;
      left: 1100px;
      border: 0px;
    }

    // & .leftImage {
    //   position: absolute;
    //   top: 6050px;
    //   opacity: 0.5;
    //   left: 300px;
    // }

    & .rightImage {
      position: absolute;
      top: 5430px;
      right: 0px;
    }
  }
}

@media (max-width: 1399.98px) {
}

@media (max-width: 1199.98px) {
  .section_eight {
    & .main {
      & button {
        top: 5261px;
        left: 700px;
        width: 15%;
        padding: 9px;
      }

      & .rightImage {
        position: absolute;
        top: 4750px;
      }
    }
  }
}

@media (max-width: 991.98px) {
  .section_eight {
    & .main {
      padding-top: 200px;
      text-align: center;

      & .title {
        font-family: $Primary_font;
        font-size: 60px;
        font-weight: 800;
      }

      & .para {
        font-family: $Primary_font;
        font-size: 18px;
        font-weight: 400px;
      }

      & button {
        width: 15%;
        top: 5110px;
        left: 580px;
      }

      & .rightImage {
        position: absolute;
        top: 4580px;
      }
    }
  }
}
@media (max-width: 767.98px) {
  .section_eight {
    & .main {
      padding-top: 200px;
      text-align: center;

      & .title {
        font-family: $Primary_font;
        font-size: 60px;
        font-weight: 800;
      }

      & .para {
        font-family: $Primary_font;
        font-size: 18px;
        font-weight: 400px;
      }

      & button {
        width: 17%;
        top: 5745px;
        left: 430px;
        padding: 12px;
        font-size: 16px;
      }

      & .rightImage {
        & img {
          display: none;
        }
      }
    }
  }
}
@media (max-width: 576px) {
  .section_eight {
    & .main {
      & .title {
        font-size: 40px;
      }

      & .para {
        font-size: 16px;
      }

      & .textbox {
        margin-top: 30px;
        width: 40%;
        font-size: 14px;
      }

      & button {
        padding: 12px;
        position: absolute;
        width: 20%;
        font-size: 14px;
        top: 5814px;
        left: 310px;
      }
    }
  }
}

@media (max-width: 375px) {
  .section_eight {
    & .main {
      & .title {
        font-size: 26px;
      }

      & .para {
        font-size: 12px;
      }

      & .textbox {
        width: 50%;
      }

      & button {
        padding: 12px;
        width: 30%;
        font-size: 14px;
        top: 5545px;
        left: 210px;
      }
    }
  }
}
