.section_seven {
  margin-top: 200px;
  & .title {
    font-family: $Stylish_font;
    font-size: 42px;
    color: #393939;
  }

  & .description {
    font-family: $Primary_font;
    font-size: 19px;
    font-display: justify;
    font-weight: 400;
    line-height: 25px;
    color: #333d42;
  }

  & .middle_div {
    margin: 0 auto;
    margin-top: 200px;
    font-family: $Primary_font;
    font-size: 25px;
    color: #3f3f3f;
    font-weight: 600;
    width: 45%;
    text-align: center;
  }

  & .endsign {
    margin-top: 40px;
    font-size: 21px;
    line-height: 33px;
    color: #3f3f3f;
    font-weight: 700;
    font-family: $Primary_font;
    text-align: center;
    margin-bottom: 70px;
  }
}

@media (max-width: 1399.98px) {
}

@media (max-width: 1199.98px) {
  .section_seven {
    margin-left: -100px;
    & .title {
      font-size: 38px;
    }

    & .description {
      font-size: 16px;
      text-align: justify;
    }

    & .middle_div {
      font-size: 22px;
    }

    & .endsign {
      font-size: 18px;
    }
  }
}

@media (max-width: 991.98px) {
  .section_seven {
    & .title {
      font-size: 38px;
    }

    & .description {
      font-size: 16px;
      text-align: justify;
    }

    & .middle_div {
      font-size: 18px;
    }

    & .endsign {
      font-size: 16px;
    }
  }
}
@media (max-width: 767.98px) {
  .section_seven {
    margin-left: -60px;
    & .title {
      font-size: 28px;
    }

    & .description {
      font-size: 14px;
      text-align: justify;
    }

    & .middle_div {
      font-size: 16px;
    }

    & .endsign {
      font-size: 14px;
    }
  }
}
@media (max-width: 576px) {
  .section_seven {
    padding: 0 20px 0 80px;
    margin-top: 80px;
    & .title {
      font-size: 28px;
    }

    & .description {
      font-size: 14px;
      text-align: justify;
    }

    & .middle_div {
      font-size: 14px;
      margin-top: 100px;
    }

    & .endsign {
      margin-top: 0px;
      font-size: 12px;
    }
  }
}
