.SecondSection {
  margin: 20px;

  & .section_para {
    padding: 50px;
    text-align: center;

    & .para_part_1 {
      font-size: 50px;
      font-family: $Stylish_font;
      margin-bottom: 40px;
    }

    & .para_part_2 {
      font-size: 27px;
      font-family: $Primary_font;
      font-style: normal;
      color: $GreyFont;
      font-weight: 400;
    }
  }

  & .section_para_one {
    & .food_title {
      font-weight: bold;
      font-family: $Primary_font;
      font-size: 27px;
    }

    & .food_Desc {
      font-size: 17px;
      font-family: $Primary_font;
      font-weight: 400;
      color: #343434;
    }
  }

  & .show_btn {
    margin: auto;
    width: 50%;
    text-align: center;

    & button {
      margin-top: 20px;
      padding: 12px;
      width: 30%;
      border-radius: 40px;
      color: $LightFont;
      background-color: $DarkFont;
      font-family: $Primary_font;
      font-weight: 800;
      line-height: 21px;
      letter-spacing: 5px;
      text-transform: uppercase;
    }
  }
}

@media (max-width: 576px) {
  .SecondSection {
    & .show_btn {
      & button {
        width: 75% !important;
        font-size: 10px !important;
      }
    }
  }
}

@media (max-width: 767.98px) {
  .SecondSection {
    & .section_para {
      & .para_part_1 {
        font-size: 20px;
      }

      & .para_part_2 {
        font-size: 12px !important;
      }
    }

    & .section_para_one {
      text-align: center;
      & img {
        height: 150px !important;
        width: 150px !important;
      }

      & .food_title {
        font-size: 16px !important;
      }

      & .food_Desc {
        font-size: 12px !important;
      }
    }

    & .show_btn {
      & button {
        width: 35%;
        font-size: 12px;
      }
    }
  }
}

@media (max-width: 991.98px) {
  .SecondSection {
    & .show_btn {
      width: 60% !important;
    }
  }
}

@media (max-width: 1199.98px) {
  .SecondSection {
    & .section_para {
      padding: 50px;
      text-align: center;

      & .para_part_1 {
        font-size: 30px;
        margin-bottom: 30px;
      }

      & .para_part_2 {
        font-size: 20px;
      }
    }

    & .section_para_one {
      & img {
        height: 200px;
        width: 200px;
      }

      & .food_title {
        font-weight: bold;
        font-family: $Primary_font;
        font-size: 20px;
      }

      & .food_Desc {
        font-size: 13px;
        font-family: $Primary_font;
        font-weight: 400;
        color: #343434;
      }
    }

    & .show_btn {
      margin: auto;
      width: 50%;
      text-align: center;

      & button {
        padding: 10px;
        width: 35%;
      }
    }
  }
}

@media (max-width: 1399.98px) {
}
