.Third_section {
  background-color: $BackGroundSection;

  margin-top: 50px;

  & .third_para_1 {
    & p {
      font-family: $Stylish_font;
      text-align: center;
      padding: 50px 20px 30px 20px;
      font-size: 55px;
      font-style: italic;
      color: $LightFont;
    }
  }

  & .third_para_2 {
    margin-top: 50px;
    text-align: justify;
    font-family: $MontserratFont;
    font-style: normal;
    font-size: 14px;
    line-height: 26px;
    color: $LightFont;
  }

  & .more_btn {
    text-align: center;
    margin-top: 50px;

    & button {
      width: 15%;
      border-radius: 20px;
      padding: 10px;
      margin-bottom: 50px;
      text-transform: uppercase;
      font-weight: 800;
      font-family: $MontserratFont;
      font-size: 22px;
    }
  }
}

@media (max-width: 1399.98px) {
}
@media (max-width: 1199.98px) {
}

@media (max-width: 991.98px) {
  .Third_section {
    & .third_para_1 {
      & p {
        font-size: 45px;
      }
    }

    & .third_para_2 {
      padding: 20px;
      margin-top: 30px;
      font-size: 12px;
    }

    & .more_btn {
      & button {
        font-size: 18px;
      }
    }
  }
}
@media (max-width: 767.98px) {
  .Third_section {
    & .more_btn {
      & button {
        width: 20%;
        font-size: 18px;
      }
    }
  }
}

@media (max-width: 576px) {
  .Third_section {
    & .more_btn {
      & button {
        width: 28%;
        font-size: 14px !important;
      }
    }
  }
}

@media (max-width: 375px) {
  .Third_section {
    & .third_para_1 {
      & p {
        font-size: 25px;
      }
    }

    & .third_para_2 {
      font-size: 10px;
    }

    & .more_btn {
      & button {
        width: 30%;
        font-size: 14px;
        padding: 8px;
      }
    }
  }
}
