.Header_Section {
  background: url(../Assets/Images/Div1/Header_Back.jpg) no-repeat scroll 0 0/cover;
  height: 900px;
}

.Header_Section button {
  color: #fff !important;
}

.Header_Section a {
  margin-right: 50px !important;
  color: #fff !important;
  text-transform: uppercase;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 5px;
}

.Header_Section .search {
  margin: 0 auto;
  text-align: center;
}

.Header_Section .search .input-field {
  border-radius: 30px;
  position: relative;
  width: 185px;
}

.Header_Section .search .search input {
  text-indent: 30px;
}

.Header_Section .search i {
  position: absolute;
  top: 20px;
  right: 40px;
}

.Header_Section .Header_Section_main {
  margin-top: 50px;
}

.Header_Section .Header_Section_main .left_item {
  margin: 40px 100px 0px 100px;
}

.Header_Section .Header_Section_main .left_item .italianTitle {
  font-family: "Reey", sans-serif;
  font-size: 82px;
  color: #fff;
  padding-top: 30px;
  padding-left: 70px;
}

.Header_Section .Header_Section_main .left_item .italianName {
  margin-top: 50px;
  font-family: "Open Sans";
  font-size: 18px;
  color: #fff;
  letter-spacing: 5px;
  font-weight: 700;
  font-style: italic;
}

.Header_Section .Header_Section_main .left_item .Read_button {
  margin-top: 25px;
  background-color: #ebebeb;
  color: #000 !important;
  padding: 5px;
  border-radius: 20px;
  font-weight: 800;
  font-family: "Open Sans";
  font-size: 16px;
  width: 30%;
}

.Header_Section .Header_Section_main .left_item .desc_para {
  margin-top: 50px;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 400px;
  font-style: italic;
  font-family: "Open Sans";
  color: #fff;
}

.Header_Section .Header_Section_main .right_item {
  position: absolute;
  right: 0;
}

@media (max-width: 1199.98px) {
  .Header_Section {
    height: 800px;
  }
  .Header_Section a {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 5px;
  }
  .Header_Section .searchbar {
    border-radius: 30px;
    width: 155px;
  }
  .Header_Section .Header_Section_main .left_item {
    margin: 40px 50px 0px 50px;
  }
  .Header_Section .Header_Section_main .left_item p img {
    height: 80px;
    width: 80px;
  }
  .Header_Section .Header_Section_main .left_item .italianTitle {
    margin-left: -20px;
    font-size: 50px !important;
  }
  .Header_Section .Header_Section_main .left_item .italianName {
    font-size: 14px;
  }
  .Header_Section .Header_Section_main .left_item .Read_button {
    font-size: 14px;
    width: 30%;
  }
  .Header_Section .Header_Section_main .left_item .desc_para {
    font-size: 12px;
    text-align: justify;
    margin-bottom: 50px;
  }
  .Header_Section .Header_Section_main .right_item {
    position: absolute;
    width: 60%;
    top: 180px;
    left: 430px;
  }
  .Header_Section .Header_Section_main .right_item img {
    height: 750px;
  }
}

@media (max-width: 991.98px) {
  .Header_Section {
    height: 900px;
  }
  .Header_Section button {
    color: #fff !important;
  }
  .Header_Section a {
    margin-right: 50px !important;
    color: #fff !important;
    text-transform: uppercase;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 5px;
  }
  .Header_Section .search {
    margin: 0 0;
    text-align: left;
  }
  .Header_Section .search .input-field {
    border-radius: 30px;
    position: relative;
    width: 185px;
  }
  .Header_Section .search .search input {
    text-indent: 30px;
  }
  .Header_Section .search i {
    position: absolute;
    top: 218px;
    left: 160px;
  }
  .Header_Section .Header_Section_main {
    position: relative;
  }
  .Header_Section .Header_Section_main .left_item {
    width: 90%;
  }
  .Header_Section .Header_Section_main .left_item p img {
    height: 80px;
    width: 80px;
  }
  .Header_Section .Header_Section_main .left_item .italianTitle {
    font-size: 25px;
  }
  .Header_Section .Header_Section_main .left_item .italianName {
    font-size: 14px;
  }
  .Header_Section .Header_Section_main .left_item .Read_button {
    font-size: 14px;
    width: 40%;
  }
  .Header_Section .Header_Section_main .left_item .desc_para {
    font-size: 12px;
    text-align: justify;
    width: 60%;
    margin-bottom: 50px;
  }
  .Header_Section .Header_Section_main .right_item {
    position: absolute;
    width: 80%;
    top: 100px;
    left: 550px;
    overflow: hidden;
  }
  .Header_Section .Header_Section_main .right_item img {
    width: 50%;
    height: 30%;
  }
}

@media (max-width: 767.98px) {
  .Header_Section {
    height: 900px;
  }
  .Header_Section button {
    color: #fff !important;
  }
  .Header_Section a {
    margin-right: 50px !important;
    color: #fff !important;
    text-transform: uppercase;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 5px;
  }
  .Header_Section .search {
    margin: 0 0;
    text-align: left;
  }
  .Header_Section .search .input-field {
    border-radius: 30px;
    position: relative;
    width: 185px;
  }
  .Header_Section .search .search input {
    text-indent: 30px;
  }
  .Header_Section .search i {
    position: absolute;
    top: 218px;
    left: 160px;
  }
  .Header_Section .Header_Section_main {
    position: relative;
  }
  .Header_Section .Header_Section_main .left_item {
    width: 90%;
  }
  .Header_Section .Header_Section_main .left_item p img {
    height: 80px;
    width: 80px;
  }
  .Header_Section .Header_Section_main .left_item .italianTitle {
    font-size: 25px;
  }
  .Header_Section .Header_Section_main .left_item .italianName {
    font-size: 14px;
  }
  .Header_Section .Header_Section_main .left_item .Read_button {
    font-size: 14px;
    width: 20%;
  }
  .Header_Section .Header_Section_main .left_item .desc_para {
    font-size: 12px;
    text-align: justify;
    width: 60%;
    margin-bottom: 50px;
  }
  .Header_Section .Header_Section_main .right_item {
    position: absolute;
    width: 80%;
    top: 100px;
    left: 450px;
  }
  .Header_Section .Header_Section_main .right_item img {
    width: 50%;
    height: 30%;
  }
}

@media (max-width: 576px) {
  .Header_Section {
    height: 900px;
  }
  .Header_Section button {
    color: #fff !important;
  }
  .Header_Section a {
    margin-right: 50px !important;
    color: #fff !important;
    text-transform: uppercase;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 5px;
  }
  .Header_Section .search {
    margin: 0 0;
    text-align: left;
  }
  .Header_Section .search .input-field {
    border-radius: 30px;
    position: relative;
    width: 185px;
  }
  .Header_Section .search .search input {
    text-indent: 30px;
  }
  .Header_Section .search i {
    position: absolute;
    top: 218px;
    left: 160px;
  }
  .Header_Section .Header_Section_main {
    position: static;
  }
  .Header_Section .Header_Section_main .left_item {
    margin-left: 20px;
    width: 90%;
    margin-top: 0px;
  }
  .Header_Section .Header_Section_main .left_item p img {
    height: 50px;
    width: 50px;
  }
  .Header_Section .Header_Section_main .left_item .italianTitle {
    font-size: 25px !important;
  }
  .Header_Section .Header_Section_main .left_item .italianName {
    font-size: 14px !important;
  }
  .Header_Section .Header_Section_main .left_item .Read_button {
    font-size: 12px;
    width: 20%;
  }
  .Header_Section .Header_Section_main .left_item .desc_para {
    font-size: 10px;
    text-align: justify;
    width: 90%;
  }
  .Header_Section .Header_Section_main .right_item {
    position: absolute;
    width: 80%;
    top: 650px;
    left: 150px;
  }
  .Header_Section .Header_Section_main .right_item img {
    width: 70%;
    height: 70%;
  }
}

@media (max-width: 375px) {
  .Header_Section {
    height: 800px;
  }
  .Header_Section .search .input-field {
    border-radius: 30px;
    position: relative;
    width: 185px;
  }
  .Header_Section .search .search input {
    text-indent: 30px;
  }
  .Header_Section .search i {
    position: absolute;
    top: 218px;
    left: 160px;
  }
  .Header_Section .Header_Section_main {
    position: static;
  }
  .Header_Section .Header_Section_main .left_item {
    margin-left: 20px;
    width: 90%;
    margin-top: 0px;
  }
  .Header_Section .Header_Section_main .left_item p img {
    height: 50px;
    width: 50px;
  }
  .Header_Section .Header_Section_main .left_item .italianTitle {
    font-size: 25px !important;
  }
  .Header_Section .Header_Section_main .left_item .italianName {
    font-size: 14px !important;
  }
  .Header_Section .Header_Section_main .left_item .Read_button {
    font-size: 12px;
    width: 40%;
  }
  .Header_Section .Header_Section_main .left_item .desc_para {
    font-size: 10px;
    text-align: justify;
    width: 90%;
  }
  .Header_Section .Header_Section_main .right_item {
    position: absolute;
    width: 80%;
    top: 650px;
    left: 100px;
  }
  .Header_Section .Header_Section_main .right_item img {
    width: 70%;
    height: 70%;
  }
}

.SecondSection {
  margin: 20px;
}

.SecondSection .section_para {
  padding: 50px;
  text-align: center;
}

.SecondSection .section_para .para_part_1 {
  font-size: 50px;
  font-family: "Reey", sans-serif;
  margin-bottom: 40px;
}

.SecondSection .section_para .para_part_2 {
  font-size: 27px;
  font-family: "Open Sans";
  font-style: normal;
  color: #2f3135;
  font-weight: 400;
}

.SecondSection .section_para_one .food_title {
  font-weight: bold;
  font-family: "Open Sans";
  font-size: 27px;
}

.SecondSection .section_para_one .food_Desc {
  font-size: 17px;
  font-family: "Open Sans";
  font-weight: 400;
  color: #343434;
}

.SecondSection .show_btn {
  margin: auto;
  width: 50%;
  text-align: center;
}

.SecondSection .show_btn button {
  margin-top: 20px;
  padding: 12px;
  width: 30%;
  border-radius: 40px;
  color: #fff;
  background-color: #000;
  font-family: "Open Sans";
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

@media (max-width: 576px) {
  .SecondSection .show_btn button {
    width: 75% !important;
    font-size: 10px !important;
  }
}

@media (max-width: 767.98px) {
  .SecondSection .section_para .para_part_1 {
    font-size: 20px;
  }
  .SecondSection .section_para .para_part_2 {
    font-size: 12px !important;
  }
  .SecondSection .section_para_one {
    text-align: center;
  }
  .SecondSection .section_para_one img {
    height: 150px !important;
    width: 150px !important;
  }
  .SecondSection .section_para_one .food_title {
    font-size: 16px !important;
  }
  .SecondSection .section_para_one .food_Desc {
    font-size: 12px !important;
  }
  .SecondSection .show_btn button {
    width: 35%;
    font-size: 12px;
  }
}

@media (max-width: 991.98px) {
  .SecondSection .show_btn {
    width: 60% !important;
  }
}

@media (max-width: 1199.98px) {
  .SecondSection .section_para {
    padding: 50px;
    text-align: center;
  }
  .SecondSection .section_para .para_part_1 {
    font-size: 30px;
    margin-bottom: 30px;
  }
  .SecondSection .section_para .para_part_2 {
    font-size: 20px;
  }
  .SecondSection .section_para_one img {
    height: 200px;
    width: 200px;
  }
  .SecondSection .section_para_one .food_title {
    font-weight: bold;
    font-family: "Open Sans";
    font-size: 20px;
  }
  .SecondSection .section_para_one .food_Desc {
    font-size: 13px;
    font-family: "Open Sans";
    font-weight: 400;
    color: #343434;
  }
  .SecondSection .show_btn {
    margin: auto;
    width: 50%;
    text-align: center;
  }
  .SecondSection .show_btn button {
    padding: 10px;
    width: 35%;
  }
}

.Third_section {
  background-color: #27292c;
  margin-top: 50px;
}

.Third_section .third_para_1 p {
  font-family: "Reey", sans-serif;
  text-align: center;
  padding: 50px 20px 30px 20px;
  font-size: 55px;
  font-style: italic;
  color: #fff;
}

.Third_section .third_para_2 {
  margin-top: 50px;
  text-align: justify;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 26px;
  color: #fff;
}

.Third_section .more_btn {
  text-align: center;
  margin-top: 50px;
}

.Third_section .more_btn button {
  width: 15%;
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 50px;
  text-transform: uppercase;
  font-weight: 800;
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
}

@media (max-width: 991.98px) {
  .Third_section .third_para_1 p {
    font-size: 45px;
  }
  .Third_section .third_para_2 {
    padding: 20px;
    margin-top: 30px;
    font-size: 12px;
  }
  .Third_section .more_btn button {
    font-size: 18px;
  }
}

@media (max-width: 767.98px) {
  .Third_section .more_btn button {
    width: 20%;
    font-size: 18px;
  }
}

@media (max-width: 576px) {
  .Third_section .more_btn button {
    width: 28%;
    font-size: 14px !important;
  }
}

@media (max-width: 375px) {
  .Third_section .third_para_1 p {
    font-size: 25px;
  }
  .Third_section .third_para_2 {
    font-size: 10px;
  }
  .Third_section .more_btn button {
    width: 30%;
    font-size: 14px;
    padding: 8px;
  }
}

.fourth_section {
  margin-top: 30px;
  padding: 50px;
}

.fourth_section .leftSide {
  text-align: center;
}

.fourth_section .leftSide img {
  height: 600px;
  width: 600px;
  text-align: right;
}

.fourth_section .rightSide {
  text-align: left;
  padding: 25px;
}

.fourth_section .rightSide .Dishtitle {
  font-family: "Open Sans";
  font-size: 58px;
  font-weight: 800;
}

.fourth_section .rightSide .dishDesc {
  font-size: 29px;
  font-weight: 400;
  font-family: "Open Sans";
}

.fourth_section .rightSide button {
  width: 35%;
  color: #fff;
  background-color: #000;
  padding: 20px;
  border-radius: 30px;
  font-weight: 700;
  letter-spacing: 6px;
  font-family: "Open Sans";
  font-size: 22px;
  line-height: 21px;
  text-transform: uppercase;
}

@media (max-width: 1199.98px) {
  .fourth_section .leftSide img {
    height: 500px;
    width: 500px;
  }
  .fourth_section .rightSide {
    text-align: left;
    padding: 25px;
  }
  .fourth_section .rightSide .Dishtitle {
    font-size: 48px;
  }
  .fourth_section .rightSide .dishDesc {
    font-size: 25px;
    text-align: justify;
  }
  .fourth_section .rightSide button {
    width: 50%;
  }
}

@media (max-width: 991.98px) {
  .fourth_section .leftSide img {
    height: 350px !important;
    width: 350px !important;
  }
  .fourth_section .rightSide {
    text-align: left;
    padding: 25px;
  }
  .fourth_section .rightSide .Dishtitle {
    font-size: 32px !important;
  }
  .fourth_section .rightSide .dishDesc {
    font-size: 18px !important;
    text-align: justify;
  }
  .fourth_section .rightSide button {
    padding: 12px;
    font-size: 16px;
  }
}

@media (max-width: 767.98px) {
  .fourth_section .rightSide {
    text-align: left;
    padding: 25px;
  }
  .fourth_section .rightSide .Dishtitle {
    font-size: 32px !important;
  }
  .fourth_section .rightSide .dishDesc {
    font-size: 18px;
    text-align: justify;
  }
  .fourth_section .rightSide button {
    padding: 10px;
    font-size: 16px;
    width: 40% !important;
  }
}

@media (max-width: 576px) {
  .fourth_section .rightSide button {
    padding: 4px !important;
    font-size: 12px !important;
  }
}

@media (max-width: 375px) {
  .fourth_section .leftSide img {
    height: 250px !important;
    width: 250px !important;
  }
  .fourth_section .rightSide .Dishtitle {
    font-size: 18px !important;
  }
  .fourth_section .rightSide .dishDesc {
    font-size: 14px !important;
    text-align: justify;
  }
  .fourth_section .rightSide button {
    padding: 10px;
    font-size: 16px;
    width: 70% !important;
  }
}

.fifth_section .leftSide {
  padding: 100px 100px 100px 150px;
  text-align: left;
}

.fifth_section .leftSide .Dishtitle {
  font-size: 58px;
  font-family: "Open Sans";
  font-weight: 800;
}

.fifth_section .leftSide .dishDesc {
  font-size: 29px;
  font-family: "Open Sans";
  font-weight: 400;
}

.fifth_section .leftSide button {
  width: 40%;
  color: #fff;
  background-color: #000;
  padding: 20px;
  border-radius: 30px;
  font-weight: 700;
  letter-spacing: 6px;
  font-family: "Open Sans";
  font-size: 22px;
  line-height: 21px;
  text-transform: uppercase;
}

.fifth_section .rightSide {
  text-align: center;
}

.fifth_section .rightSide img {
  height: 600px;
  width: 600px;
}

@media (max-width: 1199.98px) {
  .fifth_section .leftSide {
    padding: 0px 0px 0px 25px !important;
  }
  .fifth_section .leftSide .Dishtitle {
    font-size: 48px;
    font-family: "Open Sans";
    font-weight: 800;
  }
  .fifth_section .leftSide .dishDesc {
    font-size: 25px;
    text-align: justify;
  }
  .fifth_section .leftSide button {
    width: 45%;
    font-size: 20px;
  }
  .fifth_section .rightSide {
    text-align: center;
  }
  .fifth_section .rightSide img {
    height: 400px;
    width: 400px;
  }
}

@media (max-width: 991.98px) {
  .fifth_section .leftSide {
    width: 50%;
    padding: 0px 0px 0px 25px !important;
  }
  .fifth_section .leftSide .Dishtitle {
    font-size: 28px;
    font-family: "Open Sans";
    font-weight: 800;
  }
  .fifth_section .leftSide .dishDesc {
    font-size: 20px;
    text-align: justify;
  }
  .fifth_section .leftSide button {
    width: 40%;
    font-size: 16px;
    padding: 10px;
  }
  .fifth_section .rightSide {
    text-align: center;
  }
  .fifth_section .rightSide img {
    height: 300px;
    width: 300px;
  }
}

@media (max-width: 767.98px) {
  .fifth_section {
    display: flex;
  }
  .fifth_section .leftSide {
    order: 2;
    width: 100%;
    margin-top: 30px !important;
    text-align: left;
    padding: 50px !important;
  }
  .fifth_section .leftSide .Dishtitle {
    font-family: "Open Sans";
    width: 100%;
    font-weight: 800;
  }
  .fifth_section .leftSide .dishDesc {
    font-size: 18px;
    text-align: justify;
    width: 90%;
  }
  .fifth_section .leftSide button {
    width: 40%;
    font-size: 16px;
    padding: 14px;
  }
  .fifth_section .rightSide {
    order: 1;
  }
  .fifth_section .rightSide img {
    height: 300px;
    width: 300px;
  }
}

@media (max-width: 576px) {
  .fifth_section .leftSide .Dishtitle {
    font-size: 28px;
  }
  .fifth_section .leftSide .dishDesc {
    font-size: 18px;
    text-align: justify;
    width: 90%;
  }
  .fifth_section .leftSide button {
    width: 40%;
    font-size: 12px;
    padding: 8px;
  }
  .fifth_section .rightSide {
    order: 1;
  }
  .fifth_section .rightSide img {
    height: 300px;
    width: 300px;
  }
}

@media (max-width: 375px) {
  .fifth_section .leftSide .Dishtitle {
    font-size: 18px;
  }
  .fifth_section .leftSide .dishDesc {
    font-size: 14px;
  }
  .fifth_section .leftSide button {
    width: 60%;
  }
  .fifth_section .rightSide {
    order: 1;
  }
  .fifth_section .rightSide img {
    height: 200px;
    width: 200px;
  }
}

.section_six {
  margin-top: 40px;
  height: 1080px;
  background: url(/Assets/Images/Div1/Header_Back.jpg) no-repeat scroll 0 0/cover;
}

.section_six .title {
  padding-top: 100px;
  font-family: "Reey", sans-serif;
  font-size: 58px;
  color: #fff;
  text-align: center;
}

.section_six .description {
  margin-top: 50px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  line-height: 33px;
  text-align: center;
  font-weight: 400;
}

.section_six .myHr {
  height: 20px;
  width: 10%;
  margin: 0 auto;
  color: #fff;
}

.section_six .rightImage {
  position: absolute;
  top: 3500px;
  right: 0px;
}

.section_six .leftImage {
  position: absolute;
  top: 3800px;
  left: 300px;
}

.section_six .pizzaImage {
  position: absolute;
  top: 4050px;
  left: 500px;
}

@media (max-width: 1199.98px) {
  .section_six {
    height: 980px;
  }
  .section_six .title {
    font-size: 48px;
  }
  .section_six .description {
    font-size: 21px;
  }
  .section_six .rightImage {
    position: absolute;
    top: 2980px;
    right: -40px;
  }
  .section_six .rightImage img {
    height: 450px;
  }
  .section_six .leftImage {
    position: absolute;
    top: 3300px;
    left: 30px;
  }
  .section_six .leftImage img {
    height: 290px;
  }
  .section_six .pizzaImage {
    position: absolute;
    top: 3450px;
    left: 100px;
  }
  .section_six .pizzaImage img {
    height: 750px;
  }
}

@media (max-width: 991.98px) {
  .section_six {
    height: 980px;
  }
  .section_six .title {
    font-size: 48px;
  }
  .section_six .description {
    font-size: 21px;
  }
  .section_six .rightImage {
    position: absolute;
    top: 2800px;
  }
  .section_six .rightImage img {
    height: 400px;
    width: auto;
  }
  .section_six .leftImage {
    position: absolute;
    top: 3100px;
    left: 30px;
  }
  .section_six .leftImage img {
    height: 250px;
    width: auto;
  }
  .section_six .pizzaImage {
    position: absolute;
    top: 3380px;
    left: 90px;
  }
  .section_six .pizzaImage img {
    height: 650px;
    width: auto;
  }
}

@media (max-width: 767.98px) {
  .section_six {
    height: 650px;
  }
  .section_six .title {
    font-size: 32px;
  }
  .section_six .description {
    font-size: 16px;
  }
  .section_six .rightImage {
    position: absolute;
    top: 3800px;
    right: -20px;
  }
  .section_six .rightImage img {
    height: 300px;
    width: auto;
  }
  .section_six .leftImage {
    position: absolute;
    top: 4000px;
    left: 30px;
  }
  .section_six .leftImage img {
    height: 200px;
    width: auto;
  }
  .section_six .pizzaImage {
    position: absolute;
    top: 4230px;
    left: 100px;
  }
  .section_six .pizzaImage img {
    height: 400px;
    width: auto;
  }
}

@media (max-width: 576px) {
  .section_six {
    height: 650px;
  }
  .section_six .title {
    font-size: 28px;
  }
  .section_six .description {
    font-size: 14px;
  }
  .section_six .rightImage {
    position: absolute;
    top: 3920px;
    right: -20px;
  }
  .section_six .rightImage img {
    height: 300px;
    width: auto;
  }
  .section_six .leftImage {
    position: absolute;
    top: 4200px;
    left: 0px;
  }
  .section_six .leftImage img {
    height: 200px;
    width: auto;
  }
  .section_six .pizzaImage {
    position: absolute;
    top: 4350px;
    left: 50px;
  }
  .section_six .pizzaImage img {
    height: 400px;
    width: auto;
  }
}

@media (max-width: 375px) {
  .section_six {
    height: 560px;
  }
  .section_six .title {
    font-size: 20px;
  }
  .section_six .description {
    font-size: 12px;
  }
  .section_six .rightImage img {
    display: none;
  }
  .section_six .leftImage img {
    display: none;
  }
  .section_six .pizzaImage {
    position: absolute;
    top: 4050px;
    left: 0px;
  }
  .section_six .pizzaImage img {
    height: 300px;
    width: auto;
  }
}

.section_seven {
  margin-top: 200px;
}

.section_seven .title {
  font-family: "Reey", sans-serif;
  font-size: 42px;
  color: #393939;
}

.section_seven .description {
  font-family: "Open Sans";
  font-size: 19px;
  font-display: justify;
  font-weight: 400;
  line-height: 25px;
  color: #333d42;
}

.section_seven .middle_div {
  margin: 0 auto;
  margin-top: 200px;
  font-family: "Open Sans";
  font-size: 25px;
  color: #3f3f3f;
  font-weight: 600;
  width: 45%;
  text-align: center;
}

.section_seven .endsign {
  margin-top: 40px;
  font-size: 21px;
  line-height: 33px;
  color: #3f3f3f;
  font-weight: 700;
  font-family: "Open Sans";
  text-align: center;
  margin-bottom: 70px;
}

@media (max-width: 1199.98px) {
  .section_seven {
    margin-left: -100px;
  }
  .section_seven .title {
    font-size: 38px;
  }
  .section_seven .description {
    font-size: 16px;
    text-align: justify;
  }
  .section_seven .middle_div {
    font-size: 22px;
  }
  .section_seven .endsign {
    font-size: 18px;
  }
}

@media (max-width: 991.98px) {
  .section_seven .title {
    font-size: 38px;
  }
  .section_seven .description {
    font-size: 16px;
    text-align: justify;
  }
  .section_seven .middle_div {
    font-size: 18px;
  }
  .section_seven .endsign {
    font-size: 16px;
  }
}

@media (max-width: 767.98px) {
  .section_seven {
    margin-left: -60px;
  }
  .section_seven .title {
    font-size: 28px;
  }
  .section_seven .description {
    font-size: 14px;
    text-align: justify;
  }
  .section_seven .middle_div {
    font-size: 16px;
  }
  .section_seven .endsign {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .section_seven {
    padding: 0 20px 0 80px;
    margin-top: 80px;
  }
  .section_seven .title {
    font-size: 28px;
  }
  .section_seven .description {
    font-size: 14px;
    text-align: justify;
  }
  .section_seven .middle_div {
    font-size: 14px;
    margin-top: 100px;
  }
  .section_seven .endsign {
    margin-top: 0px;
    font-size: 12px;
  }
}

.section_eight {
  background-color: #27292c;
  height: 700px;
  color: #fff;
}

.section_eight .main {
  padding-top: 200px;
  text-align: center;
}

.section_eight .main .title {
  font-family: "Open Sans";
  font-size: 75px;
  font-weight: 800;
}

.section_eight .main .para {
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 400px;
}

.section_eight .main .textbox {
  margin-top: 30px;
  border-radius: 20px;
  padding: 10px;
  width: 30%;
  font-family: "Open Sans";
  font-weight: 400;
  color: #54524f;
  font-size: 16px;
}

.section_eight .main button {
  background-color: #54524f;
  padding: 8px;
  border-radius: 20px;
  position: absolute;
  color: #fff;
  width: 10%;
  font-size: 20px;
  font-weight: 400;
  font-family: "Open Sans";
  top: 5977px;
  left: 1100px;
  border: 0px;
}

.section_eight .main .rightImage {
  position: absolute;
  top: 5430px;
  right: 0px;
}

@media (max-width: 1199.98px) {
  .section_eight .main button {
    top: 5261px;
    left: 700px;
    width: 15%;
    padding: 9px;
  }
  .section_eight .main .rightImage {
    position: absolute;
    top: 4750px;
  }
}

@media (max-width: 991.98px) {
  .section_eight .main {
    padding-top: 200px;
    text-align: center;
  }
  .section_eight .main .title {
    font-family: "Open Sans";
    font-size: 60px;
    font-weight: 800;
  }
  .section_eight .main .para {
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 400px;
  }
  .section_eight .main button {
    width: 15%;
    top: 5110px;
    left: 580px;
  }
  .section_eight .main .rightImage {
    position: absolute;
    top: 4580px;
  }
}

@media (max-width: 767.98px) {
  .section_eight .main {
    padding-top: 200px;
    text-align: center;
  }
  .section_eight .main .title {
    font-family: "Open Sans";
    font-size: 60px;
    font-weight: 800;
  }
  .section_eight .main .para {
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 400px;
  }
  .section_eight .main button {
    width: 17%;
    top: 5745px;
    left: 430px;
    padding: 12px;
    font-size: 16px;
  }
  .section_eight .main .rightImage img {
    display: none;
  }
}

@media (max-width: 576px) {
  .section_eight .main .title {
    font-size: 40px;
  }
  .section_eight .main .para {
    font-size: 16px;
  }
  .section_eight .main .textbox {
    margin-top: 30px;
    width: 40%;
    font-size: 14px;
  }
  .section_eight .main button {
    padding: 12px;
    position: absolute;
    width: 20%;
    font-size: 14px;
    top: 5814px;
    left: 310px;
  }
}

@media (max-width: 375px) {
  .section_eight .main .title {
    font-size: 26px;
  }
  .section_eight .main .para {
    font-size: 12px;
  }
  .section_eight .main .textbox {
    width: 50%;
  }
  .section_eight .main button {
    padding: 12px;
    width: 30%;
    font-size: 14px;
    top: 5545px;
    left: 210px;
  }
}

.section_nine {
  margin-top: 50px;
  padding: 100px;
}

.section_nine .title {
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  font-weight: normal;
}

.section_nine .desc {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  width: 50%;
  font-weight: 400;
}

.section_nine .imgDiv {
  margin-left: -30px;
}

.section_nine .imgDiv ul li {
  display: inline-block;
  color: #000;
  border-radius: 50%;
}

.section_nine .imgDiv ul li a {
  display: inline-block;
  padding: 8px 0 0 11px;
  font-size: 20px;
  line-height: 30px;
  width: 40px;
  height: 40px;
  border-radius: 36px;
  background-color: #000;
  color: #fff;
  margin: 0 3px 3px 0;
}

.section_nine .column1 h4 {
  font-family: "Montserrat", sans-serif !important;
  font-size: 32px;
  font-weight: 400;
}

.section_nine .column1 ul {
  list-style: none;
}

.section_nine .column1 ul li {
  margin-left: -30px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

@media (max-width: 375px) {
  .section_nine {
    padding: 50px;
  }
  .section_nine .title {
    font-size: 28px;
  }
  .section_nine .desc {
    font-size: 12px;
    width: 60%;
  }
}

@media (max-width: 576px) {
  .section_nine .column1 h4 {
    font-weight: 800 !important;
  }
}

@media (max-width: 767.98px) {
  .section_nine .desc {
    width: 80%;
  }
  .section_nine .column1 h4 {
    font-size: 12px !important;
    font-weight: 400;
  }
  .section_nine .column1 ul li {
    margin-left: -30px;
    font-family: "Montserrat", sans-serif;
    font-size: 10px !important;
    font-weight: 400;
  }
}

@media (max-width: 991.98px) {
  .section_nine .desc {
    font-size: 14px;
  }
  .section_nine .column1 ul li {
    font-size: 14px;
    font-weight: 400;
  }
}

@media (max-width: 1199.98px) {
  .section_nine .desc {
    text-align: justify;
  }
  .section_nine .column1 h4 {
    font-size: 22px;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

h1 {
  font-family: "Open Sans";
}
/*# sourceMappingURL=style.css.map */