@import 'colors';
@import 'fonts';

//pages
@import 'Header';
@import 'second_section';
@import 'Third_section';
@import 'Fourth_section';
@import 'Fifth_Section';
@import 'section_six';
@import 'section_seven';
@import 'section_eight';
@import 'section_nine';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

h1 {
  font-family: $Primary_font;
}
